@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>An online Harry Potter fanfiction recommender based on the data collected and
    <a href="https://www.reddit.com/r/HPfanfiction/comments/9nc0cw/ever_thought_i_wish_i_could_find_more_fics_like_x/">posted on Reddit</a>
    by <a href="https://www.reddit.com/u/vir_innominatus">/u/vir_innominatus</a>.</p>

<p>Source code is available on <a href="https://github.com/ElusiveGuy/FicRecs">GitHub</a>.</p>
