@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

[Contact /u/ElusiveGuy](https://www.reddit.com/message/compose?to=ElusiveGuy&subject=FicRecs&message=) for any issues with this website.