@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<a href="https://www.reddit.com/message/compose?to=ElusiveGuy&subject=FicRecs&message=">Contact /u/ElusiveGuy</a> for any issues with this website.