@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <a asp-area="" asp-controller="StoryDetails" asp-action="Index" class="btn btn-default" role="button">View fic list</a>
    </div>
    <div class="col-md-3">
        
    </div>
</div>
