@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Minimal data may be collected in standard Nginx server logs, standard ASP.NET Core server logs, and CloudFlare logs.</p>

<p>Data collected includes:</p>
<ul>
    <li>IP address of the visitor</li>
    <li>The URL and time visited</li>
    <li>The user agent (browser and OS) of the visitor</li>
</ul>

If you want this data deleted, please <a asp-controller="Home" asp-action="Contact">contact us</a>.
