@model IEnumerable<FicRecs.DatabaseLib.StoryDetails>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@await Html.PartialAsync("_StoryListPartial", new StoryListViewModel { Fics = Model })
