@model StorySimilarViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Selected Fic</h2>

@await Html.PartialAsync("_ListPartial", Model.SelectedFicAsEnumerable)

<h2>Similar Fics</h2>

@await Html.PartialAsync("_ListPartial", @Model.SimilarFics)
