@model StorySimilarViewModel

@{
    ViewData["Title"] = $"Similar Stories - Selected {Model.StoryId} - Page {Model.CurrentPage}";
}

<h2>FicRecs</h2>

@await Html.PartialAsync("_StoryBrowseSearchPartial")

<form method="GET">
    <input type="hidden" name="storyId" value="@Model.StoryId" />
    @if (Model.ShowDetailed)
    {
        <input type="hidden" name="showDetailed" value="false" />
        <button type="submit" class="btn btn-default">Show simple tables</button>
    }
    else
    {
        <input type="hidden" name="showDetailed" value="true" />
        <button type="submit" class="btn btn-default">Show detailed tables</button>
    }
</form>

@await Html.PartialAsync("_StoryPaginationPartial", new StoryPaginationViewModel { CurrentPage = Model.CurrentPage, TotalPages = Model.TotalPages })

<h3>Selected Fic</h2>

@await Html.PartialAsync("_StoryListPartial", new StoryListViewModel { Fics = Model.SelectedFicAsEnumerable, ShowDetailed = Model.ShowDetailed, ShowSimilarButton = false })

<h3>Similar Fics</h2>

@await Html.PartialAsync("_StoryListPartial", new StoryListViewModel { Fics = Model.SimilarFics, ShowDetailed = Model.ShowDetailed, ShowSimilarButton = true })
