@model StorySimilarViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Selected Fic</h2>

@await Html.PartialAsync("_StoryListPartial", new StoryListViewModel { Fics = Model.SelectedFicAsEnumerable, ShowDetail = false, ShowSimilarButton = false })

<h2>Similar Fics</h2>

@await Html.PartialAsync("_StoryListPartial", new StoryListViewModel { Fics = Model.SimilarFics, ShowDetail = false, ShowSimilarButton = true })
